{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h3 class="headline3" style="padding-top: 5%; color: black">Про Мувыр</h3><br>
    <p class="section-text" style="font-weight: 500">После сноса деревни в 80-х, Корепанов Александр Генадьевич, вернувшись из армии оказлся фактически бездомным, потярянным человеком. Но он не из слабаков. Он принялся восстанавливать деревню по сути из руин... И у него получилось!<br>Деревня Мувыр</p>
<div class="cssSlider" style="border-radius: 5%; width: 90%">
	<ul class="slides" style="object-fit: cover;">
		<li id="slide1"><img src="/static/images/most.jpg" alt="" /></li>
		<li id="slide2"><img src="/static/images/river.jpg" alt="" /></li>
		<li id="slide3"><img src="/static/images/cafe.jpg" alt="" /></li>
		<li id="slide4"><img src="/static/images/scene.jpg" alt="" /></li>
		<li id="slide5"><img src="/static/images/forest.jpg" alt="" /></li>
	</ul>
	<ul class="thumbnails" style="margin-top: 1vw">
		<li><a href="#slide1"><img src="/static/images/most.jpg" /></a></li>
		<li><a href="#slide2"><img src="/static/images/river.jpg" /></a></li>
		<li><a href="#slide3"><img src="/static/images/cafe.jpg" /></a></li>
		<li><a href="#slide4"><img src="/static/images/scene.jpg" /></a></li>
		<li><a href="#slide5"><img src="/static/images/forest.jpg" /></a></li>
	</ul>
</div>
<p class="section-text" style="font-weight: 500;">
<br>•   Александр Корепанов восстановил деревню Мувыр в Удмуртии после сноса в 1980-х.
<br>•   В деревне сейчас 40 постоянных жителей, и планируется строительство новых домов.
<br>•   Александр Геннадьевич Корепанов является руководителем фермерского хозяйства в Мувыре.
<br>•   В Мувыре есть детская площадка, веревочный экстрим-парк и база отдыха.
<br>•   В деревне также есть часовня и висячий мост через реку.
<br>•   Восстановление деревни стало для Александра Корепанова делом всей жизни.
<br>•   Корепанов считает, что для привлечения молодежи к сельскому хозяйству нужны законы на федеральном уровне.
<br>•   В Мувыре есть музей и написаны две книги о деревне.</p>
</div>
    
{% endblock %}
{% block title %}
Про нас
{% endblock %}