{% extends 'base.html' %}
{% block body %}
<div style="padding-top: 6%" class="container">
    <a type="button" href="/redactor/items" class="btn orange-circle-btn" style="margin: 0.3vw">Редактировать товары</a>
    <a type="button" href="/redactor/route" class="btn orange-circle-btn">Редактировать маршруты</a>
    <a type="button" href="/redactor/locate" class="btn orange-circle-btn">Редактировать Места</a>
    <a type="button" href="/redactor/rental" class="btn orange-circle-btn">Редактировать Аренду</a>
    <a type="button" href="/redactor/events" class="btn orange-circle-btn">Редактировать Мероприятия</a>
</div>
{% endblock %}
{% block title %}
Введите пароль
{% endblock %}