{% extends 'base.html' %}
{% block body %}
<div style="display: flex; flex-direction: row; padding-top: 3%">
    <div id="main-catalog" style="background: linear-gradient(to bottom right, #7C7C7C, #383D3B);">
        {% for i in events %}
            <div class="item" style="background-color: #9A8C98; align-self: flex-start;">
                <a href="" style="display: block; text-decoration: none;">
                    <div style="margin-bottom: 0.4em; ">
                        <div class="item-inf" style="padding-left: 2%;">
                            <div style="text-align: center;">{{ i.name }}</div>
                            <div style="word-break: break-all; padding: 2%">{{ (i.descript)[0:60] }}...</div>
                            <div style="word-break: break-all; padding: 2%"><b>Время</b> {{ i.time }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block title %}
Введите пароль
{% endblock %}