{% extends 'base.html' %}
{% block body %}

<div class="bg_dark" style="display: flex;  flex-direction: row;  justify-content: center; align-items: center; background-repeat: no-repeat; width: 100%; height: 750px;">
    <div class="headline" style="margin-bottom: 1em; text-align: center;">
        <p style="line-height: 1.8em; font-weight: 700; font-size: 3.5vw; opacity: 0.85">Что такое <b>Мувыр</b>?<br></p>
        <a type="button" href="#whyweblock" class="btn orange-circle-btn" style="margin-top: 10%; padding: 0.4em; padding-right: 0.5em; padding-left: 0.5em; ">Подробнее ➜</a>
    </div>
</div>
<div style="display: flex; flex-direction: row; justify-content: center">
	<div class="cssSlider" style="border-radius: 5%; width: 90%">
		<ul class="slides" style="object-fit: cover;">
			<li id="slide1"><img src="/static/images/logo_muvyr_1.jpg" alt="" /></li>
			<li id="slide2"><img src="https://images.unsplash.com/photo-1433256392503-913cee5877e3?auto=format&fit=crop&w=840&q=60" alt="" /></li>
			<li id="slide3"><img src="https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=format&fit=crop&w=840&q=60" alt="" /></li>
			<li id="slide4"><img src="https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?auto=format&fit=crop&w=840&q=60" alt="" /></li>
			<li id="slide5"><img src="https://images.unsplash.com/photo-1453284441168-8780c9f52097?auto=format&fit=crop&w=840&q=60" alt="" /></li>
		</ul>
		<ul class="thumbnails" style="margin-top: 1vw">
			<li><a href="#slide1"><img src="/static/images/logo_muvyr_1.jpg" /></a></li>
			<li><a href="#slide2"><img src="https://images.unsplash.com/photo-1433256392503-913cee5877e3?auto=format&fit=crop&w=840&q=60" /></a></li>
			<li><a href="#slide3"><img src="https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=format&fit=crop&w=840&q=60" /></a></li>
			<li><a href="#slide4"><img src="https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?auto=format&fit=crop&w=840&q=60" /></a></li>
			<li><a href="#slide5"><img src="https://images.unsplash.com/photo-1453284441168-8780c9f52097?auto=format&fit=crop&w=840&q=60" /></a></li>
		</ul>
	</div>
</div>
<div>
	
</div>

{% endblock %}